.close-button {
    position: fixed;
    top: 10px;
    right: 10px;
    border: none;
    background-color: #ff4545; /* 빨간색 배경 */
    color: rgb(214, 214, 214);
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 8px;
    text-align: center;
    z-index: 100;
    -webkit-app-region: no-drag; /* 드래그 방지 */
  }
  