.status-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 5px;
  -webkit-app-region: drag;
  background: linear-gradient(to right, #1f1f1f 0%, #376691dd 10%, #1f1f1f 24%);
  overflow: hidden;
  ::-webkit-scrollbar {
    display: none;
  }
}
